{% extends "dashboard_base.html" %}

{% block body %}

<div class="card shadow ">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Pass</h5>
        <div class="container-fluid">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="FullName" class="form-control" placeholder="Enter Full Name"
                                   required>
                        </div>
                    </div>
                </div>

               

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" name="ContactNumber" class="form-control"
                                   placeholder="Enter Contact Number" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email ID</label>
                            <input type="email" name="Email" class="form-control" placeholder="abc@gmail.com...."
                                   required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Identity Proof</label>
                            <select name="IdentityType" class="form-control" required>
                                <option value="">Choose Any Identity Proof</option>
                                <option value="Adhar Card">Adhar Card</option>
                                <option value="PAN Card">PAN Card</option>
                                <option value="Voter Card">Voter Card</option>
                                <option value="Student Card">Student Card</option>
                                <option value="Driving License">Driving License</option>
                                <option value="Passport">Passport</option>
                                <option value="Any Official Card">Any Official Card</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Identity Card No</label>
                            <input type="text" name="IdentityCardno" class="form-control"
                                   placeholder="Enter Identity Proof Number" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Category</label>
                            <select name="category" class="form-control" required>
                                <option value="">---Select Any Category---</option>
                                {% for i in category1 %}
                                <option value="{{i.id}}">{{i.categoryname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Source</label>
                            <input type="text" name="Source" class="form-control" placeholder="Enter Source" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Destination</label>
                            <input type="text" name="Destination" class="form-control"
                                   placeholder="Enter your Destination" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>From Date</label>
                            <input type="date" name="FromDate" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="date" name="ToDate" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Total Charges (In Rs.)</label>
                            <input type="text" name="Cost" class="form-control" placeholder="Enter Price" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Your Pass has been Added Successfully, Pass Number is {{pn}}');
    window.location=('{% url 'manage_pass' %}');

</script>
{% endif %}

{% if error == "yes" %}
<script>
    
    alert('{{error}}Something Went Wrong. Please try again');

</script>
{% endif %}



{% endblock body %}