{% extends "dashboard_base.html" %}

{% block body %}

<div class="card shadow ">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Pass</h5>
        <div class="container-fluid">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Your Pass has been Added Successfully, Pass Number is {{pn}}');
    window.location=('{% url 'manage_pass' %}');

</script>
{% endif %}

{% if error == "yes" %}
<script>
    
    alert('{{error}}Something Went Wrong. Please try again');

</script>
{% endif %}



{% endblock body %}