{% extends "dashboard_base.html" %}

{% block body %}
<div class="card shadow mt-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Edit Pass</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.PassNumber.label }} 
                {{ form.PassNumber }}
            </div>
            <div class="form-group">
                {{ form.FullName.label }} 
                {{ form.FullName }}
            </div>
            <div class="form-group">
                {{ form.ContactNumber.label }} 
                {{ form.ContactNumber }}
            </div>
            <div class="form-group">
                {{ form.Email.label }} 
                {{ form.Email }}
            </div>
            <div class="form-group">
                {{ form.IdentityType.label }} 
                {{ form.IdentityType }}
            </div>
            <div class="form-group">
                {{ form.IdentityCardno.label }} 
                {{ form.IdentityCardno }}
            </div>
            <div class="form-group">
                {{ form.category.label }} 
                {{ form.category }}
            </div>
            <div class="form-group">
                {{ form.Source.label }} 
                {{ form.Source }}
            </div>
            <div class="form-group">
                {{ form.Destination.label }} 
                {{ form.Destination }}
            </div>
            <div class="form-group">
                {{ form.FromDate.label }} 
                {{ form.FromDate }}
            </div>
            <div class="form-group">
                {{ form.ToDate.label }} 
                {{ form.ToDate }}
            </div>
            <div class="form-group">
                {{ form.Cost.label }} 
                {{ form.Cost }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}
